header img.openSources-img{
	height: 60px;
	display: inline;
	bottom: -14px;
	position: relative;
}
header h1{
	display: inline;
	margin-left: 10px;
}
p#mission{
	margin-bottom:10px;
}
div#title{
	overflow: hidden;
	display: block;
	padding-bottom: -11px;
}
